<div class="container">
  <div class="container page">
    <div class="row">
      <h1>Form Validation</h1>

    </div>
    <form #validationForm="ngForm" novalidate class='form-horizontal'
          [ngClass]="{'ng-submitted':validationForm.submitted}">
      <div class="form-group">
        <label>File</label>
        <input class="form-control" type="file" name="file-type" id="file-type" (change)="getFile($event)"
                required>
        <span class="alert-danger error-msg" *ngIf="noFileSelected">
          Please select file.
        </span>
      </div>
      <div class="form-group">
      <label>Name <span style="color: red">*</span></label>
      <input class="form-control" type="text" name="name" id="name" [(ngModel)]="Name"
             #name="ngModel" required>
      <span *ngIf="name.invalid && (name.dirty || validationForm.submitted)">
        <span class="alert-danger error-msg" *ngIf="name.errors.required">
          Please provide name.
        </span>
      </span>
      </div>
      <div class="form-group">
        <label>User Name <span style="color: red">*</span><span> (Only allow alphabets, numbers and underscore.)</span></label>
        <input class="form-control" type="text" name="username" id="username" [(ngModel)]="UserName"
               #username="ngModel" [pattern]="userNameRegexPattern" required>
        <span *ngIf="username.invalid && (username.dirty || validationForm.submitted)">
        <span class="alert-danger error-msg" *ngIf="username.errors.required">
          Please provide username.
        </span>
          <span class="alert-danger error-msg" *ngIf="username.errors.pattern">
          Please provide valid username.
        </span>
      </span>
      </div>
      <div class="form-group">
        <label>Password <span style="color: red">*</span></label>
        <input class="form-control" type="password" name="password" id="password" [(ngModel)]="Password"
               #password="ngModel" minlength="8" maxlength="16" required>
        <span *ngIf="password.invalid && (password.dirty || validationForm.submitted)">
        <span class="alert-danger error-msg" *ngIf="password.errors.required">
          Please provide password.
        </span>
          <span class="alert-danger error-msg" *ngIf="password.errors.minlength">
          Password contains atleast 8 characters.
        </span>
        </span>
      </div>

      <div class="container container page row">
      <button class="btn btn-success" type="submit" (click)="validateForm(validationForm)">Validate</button>
      </div>
    </form>
  </div>
</div>
